.App-container {
  display: -webkit-flex;
  display: flex;  
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  text-align: center;
}

.App-container > * {
  padding: 15px;
  -webkit-flex: 1 100%;
  flex: 1 100%;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.article {
  text-align: left;
  background:white ;
}


header {background: black;color:white;}
.nav {background:rgb(47, 86, 102);}
.app-subcontainer{background:rgb(3, 79, 109);}
.nav ul {
  list-style-type: disc;
  
  padding: 0;
}
.nav ul a {
  text-decoration: none;
}

@media all and (min-width: 768px) {
  .nav {text-align:left;-webkit-flex: 1 auto;flex:1 auto;-webkit-order:1;order:1;}
  .article {-webkit-flex:5 0px;flex:5 0px;-webkit-order:2;order:2;}
  .app-subcontainer{text-align:left;-webkit-flex: 1 auto;flex:1 auto;-webkit-order:1;order:1;}
}